# Lombok 이 생성한 생성자 파라미터로 복사할 애노테이션.
# 이 설정이 없으면 필드에 붙인 @Qualifier 가 무시되어
# RestClient 빈이 2개인 상황에서 NoUniqueBeanDefinitionException 이 발생한다.
config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
